@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

:root {
	font-family: "Spline Sans", sans-serif;
	font-weight: 400;

	--background-color: #ecfeff;
	--text-color: #053345;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

::selection {
	background-color: var(--background-color);
	color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #053345;
		--text-color: #ecfeff;
	}

	::selection {
		background-color: var(--text-color);
		color: var(--background-color);
	}
}

h1, h2, h3 {
	font-weight: 700;
}

b, strong {
	font-weight: 600;
}
