name: ci
on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/crystal-ameba/ameba:1.6.4
    steps:
      - name: Download source
        uses: actions/checkout@v4
      - name: Check the code format
        run: ameba
  test:
    needs: format
    strategy:
      fail-fast: false
      matrix:
        crystal: ["1.18", latest]
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v4
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal }}
      - name: Cache shards
        uses: actions/cache@v4
        with:
          path: lib
          key: ${{ runner.os }}-shards-${{ hashFiles('**/shard.lock') }}
      - name: Install necessary packages
        run: sudo apt install -y libmagic-dev
      - name: Install shards
        run: shards check || shards install
      - name: Run tests
        run: crystal spec --order=random
